In [5]:
stock_prices = [] # Empty list
# Open function, "r" is read mode, "w" is write mode
with open("stock_prices.csv", "r") as f:
    for line in f:
        tokens = line.split(",") # split each line into seperate values
        day = tokens[0]
        price = float(tokens[1])
        stock_prices.append([day, price]) # append([])

In [8]:
stock_prices

[['march 6', 310.0],
 ['march 7', 340.0],
 ['march 8', 380.0],
 ['march 9', 302.0],
 ['march 10', 297.0],
 ['march 11', 323.0]]

In [10]:
stock_prices[0]

['march 6', 310.0]

# Find stock price on March 9

In [13]:
for element in stock_prices:
    if element[0] == "march 9":
        print(element[1])

302.0

# <span style="color:red">Complexity of search using a list is O(n)</span>

# Process using python dictionary

In [15]:
stock_prices = {}
with open("stock_prices.csv", "r") as f:
    for line in f:
        tokens = line.split(",")
        day = tokens[0]
        price = float(tokens[1])
        stock_prices[day] = price

In [17]:
stock_prices

{'march 6': 310.0,
 'march 7': 340.0,
 'march 8': 380.0,
 'march 9': 302.0,
 'march 10': 297.0,
 'march 11': 323.0}

# Find stock price on March 9

In [25]:
stock_prices['march 9']

302.0

# <span style="color:red">Complexity of search using dictionary is O(1)</span>

# Implement Hash Table

In [45]:
# Hash function
def get_hash(key):
    hash = 0
    for char in key:
        hash += ord(char) #ord(char) is to return the Unicode as an integer
    return hash % 100

In [47]:
get_hash('march 6')

9

In [61]:
class HashTable:
    def __init__(self):
        self.MAX = 100 # Capacity of hash table
        self.arr = [None for i in range(self.MAX)] # create a bucket contains key-value pairs (None at this time)
    # Function to create index
    def get_hash(self, key):
        return hash(key) % self.MAX
    # Get item from index
    def __getitem__(self, index):
        h = self.get_hash(index)
        return self.arr[h]
    # Insert key & value to bucket
    def __setitem__(self, key, val):
        h = self.get_hash(key)
        self.arr[h] = val
    def __delitem__(self, key):
        h = self.get_hash(key)
        self.arr[h]= None

In [63]:
t = HashTable()
t["march 6"] = 310
t["march 7"] = 420

In [65]:
t.arr

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 310,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 420,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [67]:
t["dec 30"] = 88

In [69]:
t["dec 30"]

88

In [71]:
del t["march 6"]

In [73]:
t.arr

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 88,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 420,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]